<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="/css/base.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="navbar">
	<b><a class = "siteName" href = "/" style = "font-size:34px;">Safe Travel!</a></b>
	<a href = "/users/login">Login</a>
	<a href = "/users/register">Register</a>
	<a href = "/my-page">My Page</a>
	<div class="dropdown">
		<button class="dropbtn">Trains Timetable
		</button>
		<div class="dropdown-content">
		<a href="https://new.mta.info/document/9426" target="_blank" rel="noopener noreferrer">Train 1</a>
		<a href="https://new.mta.info/document/9431" target="_blank" rel="noopener noreferrer">Train 2</a>
		<a href="https://new.mta.info/document/9436" target="_blank" rel="noopener noreferrer">Train 3</a>      
		<a href="https://new.mta.info/document/9441" target="_blank" rel="noopener noreferrer">Train 4</a>
		<a href="https://new.mta.info/document/9446" target="_blank" rel="noopener noreferrer">Train 5</a>
		<a href="https://new.mta.info/document/9456" target="_blank" rel="noopener noreferrer">Train 6</a>      
		<a href="https://new.mta.info/document/9461" target="_blank" rel="noopener noreferrer">Train 7</a>
		<a href="https://new.mta.info/document/9466" target="_blank" rel="noopener noreferrer">Train A</a>
		<a href="https://new.mta.info/document/9471" target="_blank" rel="noopener noreferrer">Train C</a>      
		<a href="https://new.mta.info/document/9476" target="_blank" rel="noopener noreferrer">Train E</a>      
		<a href="https://new.mta.info/document/9481" target="_blank" rel="noopener noreferrer">Train B</a>
		<a href="https://new.mta.info/document/9486" target="_blank" rel="noopener noreferrer">Train D</a>
		<a href="https://new.mta.info/document/10366" target="_blank" rel="noopener noreferrer">Train F</a>      
		<a href="https://new.mta.info/document/9496" target="_blank" rel="noopener noreferrer">Train M</a>
		<a href="https://new.mta.info/document/9501" target="_blank" rel="noopener noreferrer">Train G</a>
		<a href="https://new.mta.info/document/9506" target="_blank" rel="noopener noreferrer">Train J Z</a>      
		<a href="https://new.mta.info/document/9511" target="_blank" rel="noopener noreferrer">Train N</a>      
		<a href="https://new.mta.info/document/9516" target="_blank" rel="noopener noreferrer">Train Q</a>
		<a href="https://new.mta.info/document/9521" target="_blank" rel="noopener noreferrer">Train R</a>
		<a href="https://new.mta.info/document/9526" target="_blank" rel="noopener noreferrer">Train W</a>      
		<a href="https://new.mta.info/document/18241" target="_blank" rel="noopener noreferrer">Train L</a>
		</div>
		</div>
	</div>
	{{{body}}}

	

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
