<br></br><br></br>
{{> flashMsg}}

<h4 class = "page-greet">Welcome Back!</h4>
<form method = "POST" action = "">
<h8 class = "form-text">Email </h8> <input class = "form-element" type="text" name = "email">
<h8 class = "form-text">Password </h8> <input class = "form-element" type="password" name = "password">
<input class = "actionBtn" type ="submit" value = "Login">
</form>

