<br></br><br></br>
{{> flashMsg}}

<h3 class = "greet-user">Hello {{user.nickname}}</h3>

<form method = "POST" action = "">
<h6 class = "form-text" style = "margin-top: 50px;">Enter Subway Train Number or Letter You Ride Often to Save Its Timetable!</h6> <input class = "form-element" type = "text" name = "train">
<input class = "actionBtn" type = "submit" value = "Save">
</form>


<div class = "navbar-bottom">
<a class = "first-menu" href = "/users/reserved-rides">View reserved rides</a>
<a href = "/saved-subway-table">View saved timetables</a>
<a href = "/users/reserve-a-ride">Reserve rides</a>
<a href = "/users/filter-ride-by-date">Filter rides</a>
<a href = "/users/logout">Logout</a>
</div>
