<br></br><br></br>
<h4 class = "page-greet">Reserve Your Ride!</h4>

<form method = "POST" action = "">
<h8 class = "form-text">Date (dd/mm/yy)</h8> <input class = "form-element" type = "text" name = "date">
<h8 class = "form-text">Time (hh:mm)</h8> <input class = "form-element" type = "text" name = "time">
<h8 class = "form-text">Location</h8> <input class = "form-element" type = "text" name = "location">
<input class = "actionBtn" type = "submit" value = "Submit">
</form>

{{!-- <img class = "taxi" src="/img/taxi.png" alt="taxi">
<img class = "taxi" src="/img/taxi.png" alt="taxi">
<img class = "taxi" src="/img/taxi.png" alt="taxi"> --}}


<div class = "navbar-bottom">
<a class = "first-menu" href = "/users/reserved-rides">View reserved rides</a>
<a href = "/saved-subway-table">View saved timetables</a>
<a href = "/users/reserve-a-ride">Reserve rides</a>
<a href = "/users/filter-ride-by-date">Filter rides</a>
<a href = "/users/logout">Logout</a>
</div>