<br></br><br></br>
<h3 class = "page-message">Your Saved Train Timetables</h3>
<h6 class = "page-message">(You can click on the train name you've saved to view its timetable!)</h6>
{{#each data as |train|}}
<ul>
<li><a href ="{{train.link}}" style = "color: black;">{{train.trainName}}</a></li>
</ul>
{{/each}}


<div class = "navbar-bottom">
<a class = "first-menu" href = "/users/reserved-rides">View reserved rides</a>
<a href = "/saved-subway-table">View saved timetables</a>
<a href = "/users/reserve-a-ride">Reserve rides</a>
<a href = "/users/filter-ride-by-date">Filter rides</a>
<a href = "/users/logout">Logout</a>
</div>
