<br></br><br></br>
{{> flashMsg}}
<h2 class = "page-greet">Verify your email</h2>
<form method = "POST" action = "">
<h5 class = "form-text">Secret Token</h5> <input class = "form-element" type = "text" name = "secretToken" placeholder="Enter secret token">
<input class = "actionBtn" type = "submit" value = "Verify">
</form>
